* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  @media only screen and (max-width: 600px) {
    font-size: 10px;
  }
}

.App {
  background-color: white;
  height: 100vh;
}
