$main-color: #6c7ae0;
$font-color: #808080;

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url(../fonts/Lato-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: local("Lato-Regular"), url(../fonts/Lato-Regular.ttf) format("truetype");
}
