* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lato-Regular", "Roboto", sans-serif;
  color: #808080;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}

.App {
  background-color: white;
  height: 100vh;
  padding: 1rem 1.5rem;
}

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url(../fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: local("Lato-Regular"), url(../fonts/Lato-Regular.ttf) format("truetype");
}

.loading-screen {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10rem;
}

.loading-screen p {
  margin-top: 0.5rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0rem;
}

.pagination p {
  font-size: 1.25rem;
  min-width: 5rem;
  text-align: center;
}

.pagination img {
  height: 1.5rem;
  -webkit-filter: invert(48%) sepia(93%) saturate(497%) hue-rotate(199deg) brightness(88%) contrast(99%);
          filter: invert(48%) sepia(93%) saturate(497%) hue-rotate(199deg) brightness(88%) contrast(99%);
}

.search {
  display: -ms-grid;
  display: grid;
}

.search input {
  place-self: center;
  font-size: 1.25rem;
  border: 0;
  border-bottom: 0.1rem solid #808080;
  background: transparent;
  padding: 0.5rem 0 0.25rem 0;
}

.search input:focus {
  border: none;
  outline: none;
  border-bottom: 0.1rem solid #6c7ae0;
}

.table__wrapper {
  margin: 1rem 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background-color: #6c7ae0;
}

table th {
  font-family: "Lato-Bold";
  color: white;
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 1rem 0;
}

table tr {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 0rem 0.75rem;
  -ms-grid-columns: 0.3fr 2fr 1.5fr (1fr)[3];
      grid-template-columns: 0.3fr 2fr 1.5fr repeat(3, 1fr);
}

table tr:nth-child(even) {
  background-color: #f8f6ff;
}

table td {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 0.5rem 0rem;
  color: #808080;
}
/*# sourceMappingURL=main.css.map */