.table__wrapper {
  margin: 1rem 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 2.5rem 0px rgba(0, 0, 0, 0.15);
}

table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: #6c7ae0;
    tr {
      text-transform: capitalize;
      :first-child {
        text-transform: uppercase;
      }
      @media only screen and (max-width: 480px) {
        height: 6rem;
      }
    }
  }
  th {
    @include flex-start;
    text-align: start;
    width: 100%;
    font-family: "Lato-Bold";
    color: white;
    padding: 1rem 0;
    img {
      margin-left: 0.5rem;
      pointer-events: none;
      height: 1rem;
      @media only screen and (max-width: 480px) {
        margin-right: 0.25rem;
      }
    }
  }
  tr {
    width: 100%;
    display: grid;
    padding: 0rem 0.75rem;
    grid-template-columns: 0.3fr 2fr 1.5fr repeat(3, 1fr);
    &:nth-child(even) {
      background-color: #f8f6ff;
    }
    @media only screen and (max-width: 480px) {
      height: 4rem;
      grid-template-columns: 0.5fr 1.5fr 1.5fr repeat(3, 1fr);
    }
  }
  td {
    justify-self: start;
    padding: 0.5rem 0rem;
    color: #808080;
  }
}
